// #navbar-1{
//     overflow: auto;
// }
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background: #333;
    color: #fff;
    width: 100%;
    text-align: center;
    height: 3.2rem;
}

#signin {
    // text-align: right;
    float: right;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    align: right;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
